[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
dropbox = "*"
fs = "*"
pylint = "*"
astroid = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
